@charset "UTF-8";
@import 'config/variable';
*{
  .breadCrumbs{
    width: 100%;
    border-top: 1px solid #eee;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
    position: relative;
    padding: 0 60px;
    font-size: 14px;
    .bread__list{
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      padding: 16px 0 17px;
      font-size: 14px;
      & a {
        text-decoration: none;
        color: $dark;
        padding: 0 10px 0 10px;
        &:hover{
          color: $base_bgc;
          text-decoration: underline;
        }
      }
      .current {
        font-weight: 600;
        padding: 0 0 0 10px;

      }
    }
  }
}