.logout-container {
  background-color: #fff;
  margin: 0;
  &__inner {
    padding: 64px;
    display: block;
    text-align: center;
    &-btn {
      background-color: #3CCACE;
      border: 1px solid #3CCACE;
      color: #fff;
      width: 320px;
      margin: 0 auto;
      line-height: 48px;
      font-size: 14px;
      cursor: pointer;
      outline: none;
    }
  }
}