body {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family:   'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}
.order-container {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  padding: 0 0 220px;
  background-color: #f5f5f5;
}
.order-header {
  height: 128px;
  width: 100%;
  text-align: center;
  &__inner {
    margin: 40px 0 0;
    display: inline-block;
    & img {
      width: 185px;
      height: 49px;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.order-main {
  display: block;
}
.order-panel{
  width: 700px;
  margin: 0 auto;
  background-color: #fff;
  &__title {
    font-size: 22px;
    padding: 32px;
    text-align: center;
    font-weight: bold;
  }
  &__item-box {
    padding: 32px 16px 16px;
    border-top: 1px solid #f5f5f5;
    &-inner {
      margin: 0 auto;
      max-width: 343px;
      width: 55%;
      &__content {
        display: flex;
        &--about {
          height: 80px;
          width: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          &-image {
            width: 80px;
            height: 80px;
          }
        }    
      }
      &__detail {
        margin-left: 16px;
        &-name {
          font-size: 14px;
          margin: 0;
          padding: 0 0 8px;
          text-align: left;
        }
        &-price {
          text-align: left;
          margin: 0;
          font-size: 15px;
          font-weight: bold;
        }
      }
      &__payment {
        display: flex;
        justify-content: space-between;
        font-weight: bolder;
        &-message {
          font-size: 18px;
          margin: 0;
          padding-top: 10px;
        }
        &-price {
          font-size: 30px;
          margin: 0;
        }
      }
      &__point {
        margin: 24px 0 32px;
        &-message {
          font-size: 14px;
          font-weight: 400;
          padding: 0 0 0 28px;
          color: #ccc;
        }
      }
      &__info {
        padding: 32px 0;
        border-top: 1px solid #f5f5f5;
        text-align: left;
        &-inner {
          margin: 0 auto;
          width: 100%;
          display: flex;
          justify-content: space-between;
          &-title {
            text-align: left;
            font-size: 14px;
            font-weight: bold;
            margin: 0;
          }
          &-btn {
            color: #0099e8;
            text-decoration: none;
            font-size: 14px;
            cursor: pointer;
            &:hover{
              text-decoration: underline;
            }
          }
        }
        &-detail {
          text-align: left;
          line-height: 1.5;
          font-size: 14px;
          margin: 8px 0 0;
          &-logo {
            margin-top: 8px;
          }
        }
        &-order-btn {
          width: 100%;
          height: 48px;
          line-height: 48px;
          font-weight: bold;
          font-size: 14px;
          cursor: pointer;
          background-color: #3CCACE;
          border: 1px solid #3CCACE;
          color: #fff;
          text-align: center;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.footer-container {
  width: 456px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 40px 0;
  z-index: 1;
  text-align: center;
  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    margin: auto;
    &-inner {
      font-size: 12px;
      margin-left: 16px;
      color: #333;
      text-decoration: none;
    }
  }
  &__logo {
    margin: 40px auto 0;
    &:hover {
      opacity: 0.6;
    }
  }
  &__text {
    margin: 8px 0 0;
    font-size: 13px;
  }
}