.order-attention {
  position: relative;
  padding: 24px 8px;
  background: #fff6de;
  text-align: center;
  font-size: 0;
  & h3 {
    font-size: 16px;
    color: #ea352d;
  }
  & i {
    margin: 0 8px 0 0;
    font-size: 32px;
    color: #ea352d;
    vertical-align: middle;
  }
  & span {
    vertical-align: middle;
  }
  &__msg {
    margin: 8px 0 0;
    font-size: 14px;
    line-height: 1.5;
  }
}

.order-head {
  padding: 32px 16px;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  font-weight: 600;
}

.order-panel__content {
  padding: 32px 16px 48px;
  border-top: 1px solid #f5f5f5;
  text-align: center;
  &-text {
    font-size: 14px;
    font-weight: 600;
  }
  &-iconBox {
    margin: 16px 0 0;
    text-align: center;
    & i {
      margin: 0 6px 0 0;
      font-size: 20px;
    }
    & .icon-good {
      color: #ef5185;
    }
    & .icon-nomal {
      color: #fba933;
    }
    & .icon-bad {
      color: #6ab5d8;
    }
  }
  &-msg {
    margin: 16px 0 0;
    font-size: 14px;
    line-height: 1.5;
  }
  &-return {
    margin: 16px 0 0;
    &-btn {
      color: #0099e8;
      text-decoration: none;
      font-weight: 600;
    }
  }
}

