.upp-main{
  height: 100px;
  background-color:#fff;
  text-align: center;
  font-size:30px;
  padding: 40px;
  &__header{
    display: inline;
  }
}

.upp-contents{
  background-color:#EEEEEE;
  text-align: center;
  width: 550px;
  margin: 0 auto;
  h2 {
    padding: 16px;
  }
  &__one{
    color: black;
    margin: 24px 0 0;
    input {
      display: inline-block;
      position: relative;
      text-decoration: none;
      color: black;
      width: 250px;
      height: 30px;
      line-height: 50px;
      border-radius: 5px;
      text-align: center;
      overflow: hidden;
      font-weight: bold;
      background: linear-gradient(white 0%, white 100%);
      text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
      }
      label {
        display: inline-block;
        // margin: 24px 0 0;
      }
      span.form-require {
        color:white;
        background-color: #FF3300;
      }
      h3 {
        padding: 0;
      }
  &__nn{
    background-color: #FF3300;
    color: #FFFFFF;
    display: block;
    text-align: center;
    width:300px;
    height: 50px;
    margin: 20px auto;
    border:1px solid #000000;
    border-radius: 5px;
    text-decoration: none;
    }
  }
  &__two{
    color: blue;
    display: flex;
    }
}

.upp-footer{
  height: 100px;
  background-color:#fff;
  text-align: center;
  font-size:30px;
  padding: 40px;
  &__header{
    display: inline;
  }
}