@mixin category {
  background-color: #fff;
  width:240px;
  line-height: 32px;
  border-bottom: solid 1px #f8f8f8;
  padding: 3px 8px 3px 5px;
}

@mixin categoryList{
  display: none;
  width:auto;
  position: absolute;
  top:0;
  left:240px;
  bottom:0;
}

@mixin btn($btn){
  display: block;
  margin: 16px auto;
  width: 60%;
  line-height: 48px;
  font-size: 17px;
  background-color: $btn;
  border: 1px solid $btn;
  color: #fff;
  text-decoration: none;
  border-radius: 100px;
  cursor: pointer;
}

@mixin required{
  font-size: 12px;
  margin-left: 8px;
  background-color: red;
  color: white;
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  display: inline-block;
  font-style: normal;
  line-height: 1.4em;
}

@mixin selectBox{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #222;
  font-size: 16px;
  height: 48px;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 0 56px 0 16px;
  width: 100%;
}
