%aside.aside
  .inner
    %h2.inner__title だれでもかんたん、人生を変えるフリマアプリ
    %p.inner__text 今すぐダウンロード!
    .inner__icon
      %a.inner__icon--app{:href => "#"}
        = image_tag "app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", class: 'linkIcon'
      %a.inner__icon--app{:href => "#"}
        = image_tag "google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", class: 'linkIcon'